<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<html>
    <body>
        <div hidden id = "stats"><%= JSON.stringify(stats) %></div>
        <div class = "menu-bar">
            <a  href = "/" class = "btn btn-outline-dark menu-button">Home</a>
            <a  href = "stats" class = "btn btn-outline-dark menu-button">Stats</a>
        </div>
        <div style = "display:flex">
            <div>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div>
                <canvas id="myChart2" width="400" height="400"></canvas>
            </div>
            <div>
                <canvas id="myChart3" width="400" height="400"></canvas>
            </div>
        </div>
        <script>
        var stats = JSON.parse(document.getElementById("stats").innerText);

        var ctx = document.getElementById('myChart').getContext('2d');
        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var ctx3 = document.getElementById('myChart3').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Partnered', 'Non-partnered'],
                datasets: [{
                    label: 'How many are partnered?',
                    data: [stats.partnered[0], stats.partnered[1]],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                title:{
                    display: true,
                    text: "How many of 1000 top streamers are partnered?"
                }
            }
        });

        var myChart2 = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: ['Mature Content', 'Family Friendly'],
                datasets: [{
                    label: 'Is content R-rated?',
                    data: [stats.mature[0], stats.mature[1]],
                    backgroundColor: [
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                title:{
                    display: true,
                    text: "Ratio betweeen mature-content streamers and family friendly ones"
                }
            }
        });

        var myChart = new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: [stats.top3[0].channel, stats.top3[1].channel, stats.top3[2].channel],
                datasets: [{
                    label: '# of Followers',
                    data: [stats.top3[0].followers, stats.top3[1].followers, stats.top3[2].followers],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title:{
                    display: true,
                    text: 'Top 3 Streamers (by Follower Count)'
                }
            }
        });
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>